<mat-card>
  <mat-card-content>
    <form #loginFunction="ngForm" (ngSubmit)="register()">
      <h2>Sign Up</h2>
      <mat-error *ngIf="!loginValid">
        The username and password were not recognized
      </mat-error>
      <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="email" name="username" required>
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <div class="buttons-login-container">
        <button mat-raised-button [disabled]="!loginFunction.form.valid" color="primary">Sign Up</button>
        <button mat-raised-button routerLink="/" color="secondary">Sign In</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
