<script src="task-manager.component.ts"></script>
<div class="tasks-container">
  <div cdkDropList (cdkDropListDropped)="drop($event)">
    <app-task class="task-app" *ngFor="let task of todoStore.tasks; let i = index;"
              (taskChange)="todoStore.deleteTask(task)"
              [task]="task"
              #task
    ></app-task>
  </div>
  <div class="input-container">
    <form (submit)="todoStore.addTask(value); value=''" (keyup.enter)="todoStore.addTask(value)" class="form-horizontal">
      <div>
        <mat-form-field class="example-form-field" appearance="outline">
          <mat-label>Enter a Task</mat-label>
          <input matInput type="text" name="value" [(ngModel)]="value" #taskTitle>
          <button *ngIf="value" matSuffix mat-icon-button (click)="value=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <!--      <button mat-stroked-button (click)="openSnackBar(taskTitle.value)">Show snack-bar</button>-->
      <app-button class="add-task-btn" (toastFunction)="openSnackBar(taskTitle.value)"  [title]="'Add Task'"></app-button>
    </form>
  </div>
</div>
