<p>
  <mat-toolbar class="menu-container" color="primary">
    <button mat-icon-button class="example-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span (click)="navigateToDo()">Todo App</span>
    <div>
    <button mat-icon-button class="example-icon favorite-icon" (click)="navigateToDo()">
      <mat-icon>brush</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" (click)="navigateToLogin()">
      <mat-icon>account_circle</mat-icon>
    </button>
    </div>
  </mat-toolbar>
</p>
